---
layout: default
title: homepage
tag: hidden
---

<article>

    <!-- 
    <div id="wrapperContent">
        <div id="wrapper">
        <section id="aboutUs" class="row">
            <div class="rowWrapper clearfix">
                <div class="column thirty hoverOver">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div> close column 
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
            </div><close rowRapper>
        </section><close aboutUS row>


        <section id="aboutUs" class="row">
            <div class="rowWrapper clearfix">
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
            </div><close rowRapper>
        </section><close aboutUS row>
    </div> -->

    <section class="row portfolio">
            <section class="rowWrapper clearfix">
                <h1 class="textCenter">my work</h1>

                {% for item in site.data.portfolio %}

                    <article style="background: url('{{site.url}}/img/{{item.title}}.jpg') center; background-size: 100%; background-repeat: no-repeat"></article>

                {% endfor %}

                    <span class="right"><a href="#">all work >></a></span>


            </section>
        </section>
 <div id"aboutWrapper" class="teal">
     <section class="portfolio teal row">
        <h1 class="textCenter">about me</h1>
            <div class="rowWrapper clearfix">
                <div class="column thirty">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>   
                </div><close column>
                <div class="column thirty">
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>     
                </div><close column>
            </div><close rowRapper>
        </section><close aboutUS row>
</div>

    <section>
        <h2>POSTS</h2>
        
        {% for post in site.posts  %}

            	<p><a href="{{site.url}}{{post.url}}">{{post.title}}</a></p>

        {% endfor %}

    </section>
</article>
