---
layout: default
title: homepage
tag: hidden
---

<article>

    <!-- 
    <div id="wrapperContent">
        <div id="wrapper">
        <section id="aboutUs" class="row">
            <div class="rowWrapper clearfix">
                <div class="column thirty hoverOver">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div> close column 
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
            </div><close rowRapper>
        </section><close aboutUS row>


        <section id="aboutUs" class="row">
            <div class="rowWrapper clearfix">
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
                <div class="column thirty">
                        <a href=""><img src="images/imageTwo.jpg" /></a>    
                </div><close column>
            </div><close rowRapper>
        </section><close aboutUS row>
    </div> -->

    <section class="row portfolio">
            <section class="rowWrapper clearfix">
                <h1 class="textCenter">my work</h1>

                {% for item in site.data.portfolio %}

                    <article style="background: url('{{site.url}}/img/{{item.title}}.jpg') center; background-size: 100%; background-repeat: no-repeat"></article>

                {% endfor %}

                    <span class="right"><a href="#">all work >></a></span>


            </section>
        </section>
 <div id"aboutWrapper" class="teal">
     <section class="teal">
        <h1 class="textCenter">about me</h1>
        
        {% for page in site.pages reversed %}

        	{% if page.tag == "show" %}

            	<p><a href="{{site.url}}{{page.url}}">{{page.title}}</a></p>

            {% else if page.tag == "hidden" %}

            	{{page.title}}

            {% endif %}

            {% if page.tag == "big" %}

 				<h1><a href="{{site.url}}{{page.url}}">{{page.title}}</a></h1>

	 		{% endif %}

        {% endfor %}

    </section>
</div>

    <section>
        <h2>POSTS</h2>
        
        {% for post in site.posts  %}

            	<p><a href="{{site.url}}{{post.url}}">{{post.title}}</a></p>

        {% endfor %}

    </section>
</article>
